{% extends 'base.html' %}

{% block title %}Contact us{% endblock title %}

{% block style %}
    .form-control{
        background-color:rgba(0,0,0,0) !important;
        border:2px solid !important;
    }
{% endblock style %}

{% block body %}
<br>
    <img src="static/home/contact.jpeg" alt="Trulli" width="1905" height="400">


<div>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success - </strong>
        {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error - </strong>
        {% endif %}
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container mb-3 py-4">
    <div class="text-center mb-3">
    </div>
    <form method="POST" action="/contact">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput" class="form-label">First-name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="first_name" placeholder="Enter your first-name">
            </div>
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput" class="form-label">Last-name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="last_name" placeholder="Enter your last-name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email_id" placeholder="abc@example.com">
            </div>
            <div class="col-md-6 mb-3">
                <label for="example-tel-input" class="form-label">Phone no.</label>
                <input type="tel" class="form-control" id="example-tel-input" name="phone_no." placeholder="+91">
            </div>
        </div>
        <div class=" mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="description" placeholder="Type your query (optional)" rows="3"></textarea>
        </div>
        <div class="col-auto py-4">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}
